body{
  background-color: #0e121a; 
  color: white;
}
ul {
  list-style-type: none;
  color:#ff4e00;
  font-size: 18;
  width: 80%;
  font-weight: bold;
  font-family:cursive;
  border-style: solid;
  border-width: medium;
}
#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

#nav li a:hover:not(.active) {
  background-color: #111;
}

#nav .active {
  background-color :chocolate;
}


body {
  background-image: url("https://assets.awwwards.com/awards/images/2015/04/pattern.jpg")

}
li > div {
  font-family:cursive;
  margin-left: 120px;
    float: left;
}