body{
  background-color: #0e121a; 
  color: white;
}
ul,lo {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color:#ff4e00;
  font-size: 18;
  
}

img{
  padding: 30;

}


#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#nav li {
  float: left;
}

#nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav li a:hover:not(.active) {
  background-color: #111;
}

#nav .active {
  background-color :chocolate;
}
